.container-reviews {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.reviews {
    padding-top: 40px;
    padding-bottom: 40px;
}

.reviews-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 25px;
}

.reviews:hover>.container-reviews>.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.reviews-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-align: center;
    opacity: 0.4;
    margin: 0 auto 40px;
    max-width: 313px;
}

.reviews:hover>.container-reviews>.rotate-vert-center {
    -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.reviews:hover>.container-reviews>.scale-in-ver-top {
    -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

.reviews-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 24px;
    padding: 32px 8px;
    background: #fbfbfb;
    max-width: 320px;
    margin: 0 auto;
}

.reviews-items:hover>.reviews-img {
    transform: scale(1.4);
}

.reviews-items:nth-child(2),
.reviews-items:nth-child(3) {
    display: none;
}

.reviews-img {
    margin-bottom: 24px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.reviews-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #040306;
    margin-bottom: 8px;
}

.reviews-subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);
    max-width: 265px;
}

@media screen and (max-width: 767px) {
    .reviews-title {
        max-width: 315px;
        margin-left: auto;
        margin-right: auto;
    }

    .reviews-items {
        max-width: 335px;
    }

    .reviews-subtext {
        max-width: 283px;
    }

}

@media screen and (min-width: 768px) {
    .reviews {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .reviews-title {
        font-size: 48px;
        width: 704px;
    }

    .reviews-text {
        font-size: 14px;
        line-height: 1.29;
        max-width: 530px;
        margin-bottom: 75px;
    }

    .reviews-items:nth-child(2) {
        display: flex;
    }

    .reviews-list {
        display: flex;
        gap: 32px;
    }

    .reviews-items {
        max-width: 336px;
        flex-basis: calc((100% - 32px) / 2);

    }

    .reviews-subtext {
        max-width: 283px;
    }

    .reviews-card-two {
        max-width: 271px;
    }
}


@media screen and (min-width: 1280px) {
    .reviews-title {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .reviews-items:nth-child(3) {
        display: flex;
    }

    .reviews-list {
        gap: 26px;
    }

    .reviews-items {
        max-width: 376px;
        flex-basis: calc((100% - 52px) / 3);
        padding: 32px 28px;
    }

    .reviews-card-one {
        max-width: 286px;
    }

    .reviews-card-two {
        max-width: 293px;
    }

    .reviews-card-three {
        width: 265px;
    }
}

@media screen and (min-width: 1440px) {
    .reviews-list {
        gap: 32px;
        width: 1240px;
        margin: 0 auto;
    }

    .reviews-items {
        max-width: 392px;
        padding: 32px 36px;
    }
}